/* Root */


/* Reset */
* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* General styling */
body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    width: 90%;
    margin: auto;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav li {
    padding: 0 25px;
}

a:visited {
    color: black;
}

a:active {
    color: #0065FC;
}

a:hover {
    cursor: pointer;
}

#accom {
    font-weight: 500;
}

#activities {
    font-weight: 500;
}

#signUp {
    font-weight: bold;
    color: #0065FC;
}

/* test */
main {
    width: 90%;
    margin: auto;
}

/* Search bar */

#searchBar {
    display: flex;
}

.locTagBox {
    background-color: #f2f2f2;
    height: 50px;
    width: 50px;
    border-radius: 15px 0 0 15px;
}

.fa-map-marker-alt::before {
    position: absolute;
    margin-left: 17px;
    font-size: 20px;
}

#textField {
    height: 50px;
    padding: 0 15px 0 15px;
    width: 250px;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #f2f2f2;
    outline: none;
}

#textField::placeholder {
    color: black;
}

.srchBtn {
    height: 50px;
    width: 100px;
    border-radius: 0 15px 15px 0;
    font-size: 20px;
    font-weight: 500;
    background-color: #0065FC;
    color: white;
    cursor: pointer;
    outline: none;
}

/* Filters */


#filter {
    display: flex;
    padding-top: 25px;
}

#filterBtns {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.filterBtn {
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    height: 50px;
    text-align: right;
    padding-left: 55px;
    padding-right: 20px;
    background-color: white;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

#lowCostIcon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.fas::before {
    color: #0065FC;
}